*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100%;
  width: 100%;
}

h1, h4{
 padding: 10px;
}

img{
  padding: 0px 10px 0px 10px;
}

p{
  font-size: 18px;
  padding: 0px 10px;
}

