*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100%;
  width: 100%;
}

section.box{
  height: 700px;
  width: 700px;
  position: absolute;
  top: calc(50vh - 350px);
  left: calc(50vw - 350px);
}

div.box{
  height: 350px;
  width: 100%;
  position: relative;
  top: calc(50vh - 350px);
  text-align: center;
}

img.box{
  width: 80%;
  height: 200px;
}